div#logo{width:66px;height:66px;margin:0 auto;background-size:66px 66px}div#logo a{display:block;width:66px;height:66px;margin:0 auto}#header #logo{margin-top:10px;margin-bottom:10px}.autocomplete-suggestion{padding:5px}#header{background-image:url(../img/global.jpg);}.hidden{position:absolute;left:-10000px;}div#footer>p:first-child:after{content:" | GenavivReborn (by Sarek)"}


#searchbars input {
  margin: 0 3px !important;
}

#radiobar {
  background: #000;
  padding: 10px;
}

#submenu {
  background: rgba(0,0,0,0.5);
  padding: 10px;
}

#submenu li {
  margin: 0 10px;
}

#donation_wrap, #userinfo {
  padding: 5px;
  display: inline-block;
}

#donation_wrap {
  position: relative;
  top: 2px;
}

#donation_message {
  display: none !important;
}

#welcometext {
  display: none;
}

#welcomeusername {
  padding: 0 5px;
  top: 2px;
  position: relative;
}

#logo {
  background: url(../img/logo.png) no-repeat !important;
  margin-bottom: -10px !important;
}

#logo a {
  width: 126px !important;
  height: 60px !important;
}

#css_gallery {
  display: none;
}

.thin {
  position: relative;
}

.index_sidebar,
.index_sidebar2 {
  width: 25%;
  float: right;
  clear: right;
  padding: 0 0 0 5px;
}

.index_sidebar2 {
  margin-top: 0 !important;
}

#latest {
  overflow: hidden;
  padding-right: 0;
  position: relative;
}
#scroller_prev, #scroller_next {
  background-color: black;
  opacity: 0.8;
  position: absolute;
  top: 38px;
  z-index: 300;
  height: 140px;
  width: 20px;
  cursor: pointer;
  display: none;
}

#scroller_prev {
  left: 0px;
}
#scroller_next {
  right: 0px;
}
div#_LastTorrents {
  overflow: hidden;
  width: 100%;
}
.cover {
  width: 125px;
  height: 125px;
  float: left;
  margin: 2px 5px 2px 0;
  border: 2px solid white;
  background-size: 125px;
}
.cover_text {
  width: 121px;
  height: 60px;
  margin-top: 61px;
  background: black;
  text-align: center;
  opacity: 0.8;
  padding: 2px;
  line-height: 15px;
  overflow: hidden;
  vertical-align: middle;
  font-size: 11px;
}
.index_main_column {
  width: 75%;
}

#disclaimer_container {
  max-width: 1200px;
  margin: 0 auto;
}

#header * {
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.sticky:after {
  content: "📌 ";
}

.thin table:last-child {
  margin-top: 10px;
}
#buttonhint {
  display: none !important;
}

#searchbar_artists {
  position: relative;
}

#artistcomplete {
  position: absolute;
  top: 35px;
  left: 3px;
  width: 146px;
  z-index: 99999;
  background: rgba(0,0,0,0.7) !important;
}

#artistcomplete li {
  display: block;
  cursor: pointer;
  padding: 5px;
}

#artistcomplete li.highlight {
  background: rgba(255,255,255,0.1);
}

#stats_ratio {
  padding-right: 0 !important;
}

#stats_required {
  padding-left: 0 !important;
}

.index_main_column .head,
#latest .head {
  margin: 0 !important;
  margin-bottom: -5px;
}

.index_main_column > .box,
#latest {
  padding: 0 !important;
}

#latest table:last-child {
  margin-top: 0 !important;
}

.forum_post .colhead_dark span {
  font-size: 12px !important;
}